@import 'reset.css';
@import 'https://unpkg.com/open-props';

body {
  position: relative;
  background-color: var(--gray-0);
  font-family: 'Satoshi', sans-serif;
  display: grid;
  grid-template-rows: max-content 1fr;
}

header {
  padding-block: 12px;
  padding-inline: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: min-content;
}

.clock {
  /* general clock vars */
  --hour-hand-color: var(--stone-7);
  --hour-hand-degrees: 0deg;
  --minute-hand-color: var(--stone-7);
  --minute-hand-degrees: 0deg;
  --second-hand-color: var(--stone-5);
  --second-hand-degrees: 0deg;

  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--stone-1);
  border: 1px solid var(--stone-5);
}

.hand {
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: 45%;
  width: 0.6px;
  background: var(--second-hand-color);
  transform-origin: bottom center;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
  width: 0.3px;
  transform: rotate(var(--second-hand-degrees));
}

.hour-hand {
  height: 36%;
  border-radius: 40px;
  background-color: var(--hour-hand-color);
  transform: rotate(var(--hour-hand-degrees));
}

.minute-hand {
  height: 42%;
  background: var(--minute-hand-color);
  transform: rotate(var(--minute-hand-degrees));
}

.theme-toggle label {
  position: relative;
  cursor: pointer;
  display: grid;
  background-color: var(--gray-2);
  border-radius: 50%;
  min-width: 31px;
  padding: 4px;

  svg {
    grid-area: -1/1;
  }

  .moon {
    transform: translateY(-100%);
    display: none;
  }
}

label .toggle {
  position: absolute;
  opacity: 0;
  width: 1em;
  height: 1em;

  &:checked ~ .moon {
    transform: translateY(0%);
    display: block;
  }

  &:checked ~ .sun {
    transform: translateY(100%);
    display: none;
  }
}

main {
  width: 100ch;
  justify-self: center;
}

.floating-menu {
  justify-self: center;
  background-color: #ffffff;
  position: fixed;
  bottom: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow-5);
}

.menu-wrapper {
  display: flex;
}

.menu-button {
  &:first-of-type {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

  &:last-of-type {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:hover {
    background-color: var(--stone-2);
  }
}

.menu-button button {
  min-height: 40px;
  padding-inline: 14px;
  background: none;
  border: none;
}
