@import 'theme.css';
@import 'reset.css';
@import 'variables.css';
@import 'clock.css';
@import 'header.css';
@import 'sidenav.css';
@import 'toolsmenu.css';
@import 'buttons.css';

h1,
.header-1 {
  --font-size: var(--font-size-2);
  font-size: var(--font-size);
  margin-bottom: var(--space-fluid-4);
  line-height: 1.2;
  text-wrap: balance;
}

h2,
.header-2 {
  --font-size: var(--font-size-1);
  font-size: var(--font-size);
  line-height: 1.4;
  text-wrap: balance;
}

p,
.paragraph {
  --font-size: var(--font-size-0);
  font-size: var(--font-size);
  text-wrap: balance;
  line-height: 1.8;
}

h1,
h2,
p {
  outline: none;
  padding-inline: 18cqw;
}

body {
  container-name: body;
  container-type: inline-size;
  position: relative;
  background-color: var(--surface);
  font-family: 'Satoshi', sans-serif;
  grid-template-columns: 1fr;
  display: grid;
  font-size: var(font-size-0);

  &:has(.sidenav[opened]) {
    grid-template-columns: max-content 1fr;
  }

  .main-container {
    container-name: main-container;
    container-type: inline-size;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 'header' 'editor';
  }
}

main {
  container-name: editor;
  container-type: inline-size;
  width: 100%;
  justify-self: center;
  padding-top: var(--space-fluid-4);
  padding-inline: var(--space-fluid-2);
  padding-bottom: var(--space-fluid-5);
  outline: none;
  grid-area: editor;
}

@container body (max-width: 780px) {
  .sidenav {
    width: 80vw;
  }
}

@container main-container (max-width: 580px) {
  .tools-menu-container {
    display: none;
  }

  main {
    width: 100%;
  }
}

@container editor (max-width: 560px) {
  h1,
  h2,
  p {
    padding-inline: 5cqw;
  }
}
