@import 'theme.css';
@import 'reset.css';
@import 'variables.css';
@import 'clock.css';
@import 'header.css';
@import 'sidenav.css';
@import 'title.css';
@import 'editor.css';
@import 'toolsmenu.css';
@import 'buttons.css';
@import 'dialog.css';

body {
  container-name: body;
  container-type: inline-size;
  position: relative;
  background-color: var(--surface);
  font-family: 'Satoshi', sans-serif;
  display: flex;
  font-size: var(--font-size-0);
  overflow-x: hidden;

  &::after{
    content: '';
    bottom: 0;
    left: 0;
    position: fixed;
    height: 30px;
    width: 100%;
    background: var(--footer-gradient);
  }
}

.main-container {
  flex: 1;
  container-name: main-container;
  container-type: inline-size;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'header' 'editor';
}

main {
  container-name: editor;
  container-type: inline-size;
  width: 100%;
  justify-self: center;
  grid-area: editor;
  padding-bottom: var(--space-fluid-5);
}

@container body (max-width: 768px) {
  .main-container {
    height: 100svh;
  }
}

