@import 'theme.css';
@import 'reset.css';
@import 'variables.css';
@import 'clock.css';
@import 'header.css';
@import 'sidenav.css';
@import 'toolsmenu.css';
@import 'buttons.css';

body {
  container-name: body;
  container-type: inline-size;
  position: relative;
  background-color: var(--surface);
  font-family: 'Satoshi', sans-serif;
  grid-template-columns: 1fr;
  display: grid;
  font-size: var(--font-size-0);


  &:has(.sidenav[opened]) {
    grid-template-columns: max-content 1fr;
  }
}

.main-container {
  container-name: main-container;
  container-type: inline-size;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'header' 'editor';
}

main {
  container-name: editor;
  container-type: inline-size;
  width: 100%;
  justify-self: center;
  outline: none;
  grid-area: editor;
}

.section-title {
  padding-inline: 10vw;
  padding-block: var(--space-fluid-2);

  border-bottom: 1px solid var(--surface-4);

  label {
    display: flex;
    flex-direction: column;
    gap: var(--space-fluid-1);
    justify-content: flex-start;
    color: var(--border);
    font-size: clamp(0.89rem, calc(0.8rem + 0.2vw), 1rem);

    input {
      font-size: var(--font-size-4);
      background: transparent;
      border: none;
      outline: none;
      padding-block: 8px;
    }
  }
}

@container body (max-width: 768px) {
  .main-container{
    grid-area: -1/1;
  }

  &:has(.sidenav[opened]) {
    grid-template-columns: 100vw;

    .sidenav[opened] {
      grid-area: -1/1;
      width: 100vw;
      z-index: 10;
    }
  }
}

