.button-theme-toggle label {
  position: relative;
  cursor: pointer;
  display: grid;
  background-color: var(--surface-2);
  border-radius: 50%;
  min-width: 31px;
  padding: 0.5em;

  svg {
    grid-area: -1/1;
  }

  .moon {
    transform: translateY(-100%);
    display: none;
  }

  .toggle {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:checked ~ .moon {
      transform: translateY(0%);
      display: block;
    }

    &:checked ~ .sun {
      transform: translateY(100%);
      display: none;
    }
  }
}

.button-notes-sidebar-toggle {
  height: fit-content;
  display: grid;
  justify-self: start;
  position: sticky;
  bottom: var(--space-fluid-1);
  margin-left: 0.5em;
  border: none;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  padding: 0.5em;
  align-items: center;
  z-index: 20;
  grid-area: editor;
  align-self: flex-end;

  &:hover {
    background: var(--surface-2);
  }
}

.create-note-btn{
  width: 100%;
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
  background: var(--surface);
  border: 1px solid var(--gray-1);
  font-weight: 500;
  font-size: clamp(0.9rem, calc(0.86rem + 0.2vw), 1rem);
}