main{
  padding-inline: var(--space-fluid-5);

  .wrapper{
    padding-top: var(--space-fluid-4);
    outline: none;
    width: min(100%, 768px);
    height: 100%;
    line-height: 1.8;
    margin: 0 auto;
    text-wrap: pretty;
  }
}

@container body (max-width: 425px) {
  main{
    padding-inline: var(--space-fluid-3);
  }
}