main{
  padding-inline: var(--space-fluid-5);
  line-height: 1.8;

  :first-child{
    margin-top: var(--space-fluid-4);
  }
}

@container body (max-width: 425px) {
  main{
    padding-inline: var(--space-fluid-3);
  }
}