.header {
  container-name: header;
  container-type: inline-size;
  padding-top: var(--space-fluid-1);
  padding-inline: var(--space-fluid-1);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  min-width: 280px;
}
