.header {
  container-name: header;
  container-type: inline-size;
  background-color: var(--surface);
  padding-block: var(--space-fluid-1);
  padding-inline: var(--space-fluid-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  min-width: 280px;

  .title {
    gap: 0.8em;
    display: inline-flex;
    height: min-content;
    align-items: center;
    width: fit-content;

    .input {
      padding-inline: 4px;
      border: none;
      background: transparent;
      text-align: center;
      outline: none;
      font-weight: 500;

      &:focus {
        border-bottom: 1px solid var(--border);
      }
    }
  }
}
