@import 'https://unpkg.com/open-props';
@import 'reset.css';
@import 'theme.css';

body {
  position: relative;
  background-color: var(--surface);
  font-family: 'Satoshi', sans-serif;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.sidenav {
  width: 20vw;
  background: var(--surface-2);
  display: grid;
  padding-block: 2rem;

  ul {
    align-self: flex-end;
    display: grid;
    height: fit-content;

    li {
      padding: 0.5em 0.8em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      & > a {
        text-decoration: none;
      }

      &:hover {
        background-color: var(--surface-3);
      }
    }
  }
}

.main-container {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.header {
  background-color: var(--surface);
  padding-block: 12px;
  padding-inline: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

.header .title {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  height: min-content;
}

.title p {
  padding-inline: 4px;
  outline: none;
  font-weight: 500;

  &:focus {
    border-bottom: 1px solid var(--border);
  }
}

.clock {
  /* general clock vars */
  --hour-hand-color: var(--clock-hand-1);
  --hour-hand-degrees: 0deg;
  --minute-hand-color: var(--clock-hand-1);
  --minute-hand-degrees: 0deg;
  --second-hand-color: var(--clock-hand-2);
  --second-hand-degrees: 0deg;

  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--clock-surface);
  border: 1px solid var(--clock-border);
}

.hand {
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: 45%;
  width: 0.6px;
  background: var(--second-hand-color);
  transform-origin: bottom center;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
  width: 0.3px;
  transform: rotate(var(--second-hand-degrees));
}

.hour-hand {
  height: 36%;
  border-radius: 40px;
  background-color: var(--hour-hand-color);
  transform: rotate(var(--hour-hand-degrees));
}

.minute-hand {
  height: 42%;
  background: var(--minute-hand-color);
  transform: rotate(var(--minute-hand-degrees));
}

.theme-toggle label {
  position: relative;
  cursor: pointer;
  display: grid;
  background-color: var(--surface-2);
  border-radius: 50%;
  min-width: 31px;
  padding: 4px;

  svg {
    grid-area: -1/1;
  }

  .moon {
    transform: translateY(-100%);
    display: none;
  }
}

label .toggle {
  position: absolute;
  opacity: 0;
  width: 1em;
  height: 1em;

  &:checked ~ .moon {
    transform: translateY(0%);
    display: block;
  }

  &:checked ~ .sun {
    transform: translateY(100%);
    display: none;
  }
}

main {
  width: min(90ch, 80vw);
  justify-self: center;
  padding-top: 1em;
  outline: none;
}

.floating-menu {
  justify-self: center;
  position: fixed;
  bottom: 20px;
  border-radius: 8px;
  box-shadow: var(--surface-shadow);
  background-color: var(--surface-2);
}

.menu-wrapper {
  display: flex;
}

.menu-button {
  position: relative;

  &:first-of-type {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

  &:last-of-type {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.menu-button button {
  min-height: 40px;
  padding-inline: 14px;
  background: none;
  border: none;
  display: grid;
  align-items: center;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &:hover {
    background-color: var(--surface-3);
  }

  &:focus {
    ~ .menu-dropdown {
      display: grid;
    }
  }
}

#selected-align-style {
  display: grid;
  align-items: center;
}

.menu-dropdown {
  position: absolute;
  background-color: var(--surface-2);
  box-shadow: var(--light-shadow);
  border-radius: 8px;
  display: none;
  gap: 6px;
  bottom: 120%;
  left: 0;
}

.menu-dropdown label {
  position: relative;
  padding: 8px 14px;
  cursor: pointer;

  &:hover {
    background-color: var(--surface-3);
  }

  & > input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
