/* @import 'https://unpkg.com/open-props'; */
@import 'reset.css';
@import 'theme.css';
@import 'header.css';
@import 'buttons.css';
@import 'clock.css';
@import 'sidenav.css';
@import 'toolsmenu.css';

body {
  position: relative;
  background-color: var(--surface);
  font-family: 'Satoshi', sans-serif;
  display: grid;

  &:has(.sidenav[opened]) {
    grid-template-columns: max-content 1fr;
  }
}

.main-container {
  display: grid;
  grid-template-rows: max-content 1fr;
}

main {
  width: min(90ch, 80vw);
  justify-self: center;
  padding-top: 1em;
  outline: none;
}
