[color-scheme='light'] {
  color-scheme: light;

  --shadow-color: 220 40% 2%;
  --shadow-strength: 10%;

  --surface: #f8f9fa;
  --surface-2: #f1f3f5;
  --surface-3: #ebedef;
  --surface-4: #ced4da;
  --gray-1: #adb5bd;
  --gray-2: #212529;
  --clock-surface: #f8f9fa;
  --clock-hand-1: #7e8282;
  --clock-hand-2: #b1b6b9;
  --clock-border: #b1b6b9;
  --border: #868e96;
  --icon: #030507;
  --red: #e03131;
  --light-red: #ffa8a8;
  --footer-gradient: linear-gradient(0deg,var(--surface),hsla(210, 17%, 98%,.738) 19%,hsla(210, 17%, 98%,.541) 34%,hsla(210, 17%, 98%,.382) 47%,hsla(210, 17%, 98%,.278) 56.5%,hsla(210, 17%, 98%,.194) 65%,hsla(210, 17%, 98%,.126) 73%,hsla(210, 17%, 98%,.075) 80.2%,hsla(210, 17%, 98%,.042) 86.1%,hsla(210, 17%, 98%,.021) 91%,hsla(210, 17%, 98%,.008) 95.2%,hsla(210, 17%, 98%,.002) 98.2%,hsla(210, 17%, 98%,0));

  --surface-shadow: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));

  --light-shadow: 0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
}

[color-scheme='dark'] {
  color-scheme: dark;

  --surface: #030507;
  --surface-2: #16191d;
  --surface-3: #212529;
  --surface-4: #0d0f12;
  --gray-1: #495057;
  --gray-2: #e0e4e5;
  --clock-surface: #16191d;
  --clock-hand-1: #d1d6d8;
  --clock-hand-2: #e0e4e5;
  --clock-border: #e0e4e5;
  --border: #dee2e6;
  --icon: #f8f9fa;
  --red: #ff6b6b;
  --light-red: #ffa8a8;
  --footer-gradient: linear-gradient(0deg,var(--surface), hsla(210, 40%, 2%,.738) 19%,hsla(210, 40%, 2%,.541) 34%,hsla(210, 40%, 2%,.382) 47%,hsla(210, 40%, 2%,.278) 56.5%,hsla(210, 40%, 2%,.194) 65%,hsla(210, 40%, 2%,.126) 73%,hsla(210, 40%, 2%,.075) 80.2%,hsla(210, 40%, 2%,.042) 86.1%,hsla(210, 40%, 2%,.021) 91%,hsla(210, 40%, 2%,.008) 95.2%,hsla(210, 40%, 2%,.002) 98.2%,hsla(210, 40%, 2%,0));

  --surface-shadow: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));

  --light-shadow: 0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
}
