.section-title {
  label {
    justify-content: flex-start;
    color: var(--border);

    input {
      font-size: var(--font-size-0);
      background: transparent;
      border: none;
      outline: none;
      padding-block: 8px;
      cursor: text;
      text-align: center;

      &:focus {
        border-bottom: 2px solid var(--surface-3);
      }
    }
  }
}
