.tools-menu {
  justify-self: center;
  position: fixed;
  bottom: 20px;
  box-shadow: var(--surface-shadow);
  background-color: var(--surface-2);
  border-radius: 8px;
  z-index: 20;
}

.menu-wrapper {
  display: flex;
}

.menu-button {
  button {
    min-height: 40px;
    padding-inline: 14px;
    background: none;
    border: none;
    display: grid;
    align-items: center;

    & > span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      & > span {
        display: inline-flex;
      }
    }

    &:hover,
    &:focus {
      background-color: var(--surface-3);
    }
  }

  .radius-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .radius-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.menu-dropdown {
  position: absolute;
  background-color: var(--surface-2);
  box-shadow: var(--light-shadow);
  border-radius: 8px;
  overflow: hidden;
  display: none;
  /* gap: 6px; */
  bottom: 120%;
  z-index: 200;

  label {
    position: relative;
    padding: 10px 14px;
    cursor: pointer;

    &:hover {
      background-color: var(--surface-3);
    }

    & > input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
}

.menu-dropdown[visible] {
  display: grid;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
}

.menu-dropdown[visible] ~ .menu-overlay {
  display: block;
}

#selected-font-type {
  min-width: 7ch;
}
